header {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1A1F16;
  color: white;
  padding: 0 30px 0 30px;
  position: fixed;
  top: 0px;
}
header a {
  text-decoration: none;
  color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 150px;
}