a {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
  padding-top: 80px;
  min-height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url(https://activsocial-project.s3-us-west-1.amazonaws.com/SiteImages/moutaineering-landing.jpg);
  background-position: center;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
